body {
  background-color: #a7ecf9;
}

/* ----------------- City Input Page --------------------- */
#mainHeader {
  font-family: 'Sacramento', cursive;
  font-size: 62px;
}

#cityInput {
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#cityInputForm {
  width: 400px;
}

/* ----------------- Food Type Page --------------------- */
#foodTypeHeader {
  font-family: 'Sacramento', cursive;
  font-size: 48px;
}

#foodType {
  text-align: center;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#singleFoodType {
  padding-bottom: 10px;
}

/* ----------------- Restaurant List and Details Section --------------------- */
#loadingGif {
  text-align: center;
  position: absolute;
  height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#restList {
  text-align: left;
  width: 600px;
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

a#goToMaps {
  text-decoration: none;
  color: #333333;
}