body {
  background-color: #a7ecf9;
}

/* ----------------- City Input Page --------------------- */
#mainHeader {
  font-family: 'Sacramento', cursive;
  font-size: 62px;
}

#cityInput {
  width: 1100px;
  height: 250px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#cityInputForm {
  width: 500px;
}